<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">조리실 구조</h2>
    <p class="lead">
      조리실 구조는 오른쪽의 그림과 같습니다.
    </p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
</div>
