<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../public/img/N_K.ico">

    <title>Node_Kitchen</title>

    <!-- Bootstrap core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../public/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="../public/css/private.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body ng-app = "app">
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="#/home">조리실소개</a></li>
                <li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">요리재료<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#/mongodb_detail">MongoDB</a></li>
                    <li><a href="#/express_detail">Express</a></li>
                    <li><a href="#/angular-detail">AngularJS</a></li>
                    <li><a href="#/nodejs_detail">NodeJS</a></li>
                  </ul>
                </li>
                <!--<li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">요리순서<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">뼈대</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                  </ul>
                </li>-->
                <li><a href="#/board_list">게시판</a></li>
                <li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">알고리즘예제<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#/algolithm_ceasar">1. 시저암호</a></li>
                    <li><a href="#/algolithm_nextnum">2. 다음 큰 숫자</a></li>
                    <li><a href="#/algolithm_jump">3. 멀리 뛰기</a></li>
                    <li><a href="#/algolithm_expressions">4. 숫자의 표현</a></li>
                    <li><a href="#/algolithm_bestSet">5. 최고의 집합</a></li>
                  </ul>
                </li>
                <!--<li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">페이지분석<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#/page_tmon">1. 티몬채용공고페이지</a></li>
                  </ul>
                </li>-->
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ol class="carousel-indicators">
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <!--<img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">-->
          <div class="container">
            <div class="carousel-caption">
              <h1>Node_Kitchen</h1>
              <p>MEAN 스택을 이용한 요리 제작 과정<br>
              M(MongoDB)-E(Express)-A(AngularJS)-N(NodeJs)</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing" ng-view>
      <!-- START THE FEATURETTES -->

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../public/js/holder.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../public/js/ie10-viewport-bug-workaround.js"></script>
    <script src="../public/js/angular.min.js"></script>
    <script src="../public/js/angular-route.min.js"></script>
    <script src="../public/js/angular_kitchen.js"></script>
  </body>
</html>
