<div>
  <div>
    <h1>Express설명 및 예제</h1>
    <p class="lead" >
    </p>
    <h3><strong>1. 소개</strong></h3>
    <p style="text-indent: 15px;">Express는 NodeJS상에서 동작하는 대표적 <span style="color: #ff9900;">웹 개발 프레임워크</span> 이다.</p>
    <p style="text-indent: 15px;">이 페이지를 구성할때는 대표적 기능인 <span style="color: #ff9900;">웹서버 구동 및 라우팅 기능을</span> 사용한다.</p>
    <p>&nbsp;</p>
    <h3><strong>2. 선언</strong></h3>
    <p><img src="/public/img/Express_use.png" ></p>
    <p>&nbsp;</p>
    <h3><strong>3. 사용</strong></h3>
    <p><img src="/public/img/Router_use.png" ></p>
  </div>
</div>
