<div>
  <div>
    <h1>React.js</h1>
    <p class="lead" >
    </p>
    <p style="text-indent: 15px;">교육영상은 아래와 같으며 </p>
    <p style="text-indent: 15px;"><a href="https://www.youtube.com/watch?v=H24D0GveBYY&index=2&list=PL9FpF_z-xR_GMujql3S_XGV2SpdfDBkeC">https://www.youtube.com/watch?v=H24D0GveBYY&index=2&list=PL9FpF_z-xR_GMujql3S_XGV2SpdfDBkeC</a></p>
    <p style="text-indent: 15px;">설명해주신 동영상 및 다른 곳에서 보고 배운점을 참고하여 나만의 정리를 시작하겠습니다.(참고사이트는 아래에 적어놓겠습니다.)</p>
    <h3><strong>1. React JS란?</strong></h3>
    <p style="text-indent: 15px;">React.js는 페이스북에서 개발한 유저 인터페이스 라이브러리 입니다.</p>
    <p style="text-indent: 15px;">재사용 가능한 UI를 만들 수 있게 함으로써 효율적인 코딩이 가능하도록 도와줍니다.</p>
    <p style="text-indent: 15px;">아래는 React.js를 아주 쉽게 설명하는 영상입니다.</p>
    <p style="text-indent: 15px;"><a href="https://youtu.be/muc2ZF0QIO4">https://youtu.be/muc2ZF0QIO4</a></p>

    <h3><strong>2. 특징</strong></h3>
    <p style="text-indent: 15px;"><h4><span style="color: #ff9900;"><strong>1. VIRTUAL DOM</strong></span></h4></p>
    <p style="text-indent: 15px;">먼저 DOM이란  Document Object Model 의 약자입니다. 객체를 통하여 구조화 된 문서를 표현하는 방법이며 XML, HTML로 작성됩니다.</p>
    <p style="text-indent: 15px;">웹 브라우저는 이 DOM 을 활용하여 객체에 JavaScript 와 CSS 를 적용하지요. DOM 은 트리 형태로 되어있어서, 특정 node 를 찾을 수도 있고, 수정 할 수도 있고, 제거하거나 원하는 곳에 삽입 할 수도 있습니다.</p>
    <p style="text-indent: 15px;">DOM자체는 동적 UI에 최적화가 되어있지 않다. 그에 따라서 수많은 데이터가 로딩 될때 브라우저가 CSS를 다시 연산하고 레이아웃을 구성하는 등에 시간이 너무 허비된다. </p>
    <p style="text-indent: 15px;">VIRTUAL DOM을 사용하면 실제 DOM에 접근하여 데이터를 조작하는 대신 이를 추상화 시킨 자바스크립트 객체를 구성하여 사용한다.</p>
    <p style="text-indent: 15px;">React 에서 데이터가 변하여 브라우저상의 실제 DOM 을 업데이트 할 때에는 다음과 같이 3가지 절차를 거칩니다.</p>
    <p style="text-indent: 15px;">1. 데이터가 업데이트되면, 전체 UI 를 Virtual DOM 에 리렌더링 합니다.</p>
    <p style="text-indent: 15px;">2. 이전 Virtual DOM 에 있던 내용과 현재의 내용을 비교합니다.</p>
    <p style="text-indent: 15px;">3. 바뀐 부분만 실제 DOM 에 적용이 됩니다.</p>
    <p style="text-indent: 15px;">결국에는 컴포넌트가 업데이트 될 때, 레이아웃 계산이 한번만 이뤄집니다.</p>
    <p style="text-indent: 15px;"><h4><span style="color: #ff9900;"><strong>2. Components,JSX</strong></span></h4></p>
    <p style="text-indent: 15px;">React.js의 가장 큰 특징은 UI를 여러 Component 단위로 쪼개서 사용합니다. </p>
    <p style="text-indent: 15px;">JSX 는 JavaScript 의 확장 문법입니다. DOM 엘리먼트들을 만들 때 JavaScript 형식으로 작성해야 하는 것을, XML 과 비슷한 형태로 작성할 수 있게 해줍니다.</p>

    <h3><strong>3. 예제</strong></h3>
    <p style="text-indent: 15px;">1. 기본 예제</p>
    <p style="text-indent: 15px;"><img src="/public/img/react/ex1.png" ></p>



    <!--리액트는 라이브러리 앙귤라는 프레임워크
    리액트의 장점
    virtual dom을 사용한다
    배우기 간단하다 - 컴포넌트 가비지 컬렉션 메모리 관리 성능 굳
    잘못사용하면 비효율
    서버 & 클라이언트 렌더링 둘다 지원
    초기 구동 딜레이가 없다(검색엔진 최적화)
    서버사이드 렌더링?
    매우 간편한 ui수정 가능
    페북에서 밀어주고 있다.
    다른 프레임워크나 라이브러리와 혼용 가능

    단점
    view only ui부분만 관리한다. 빠진부분은 다른 라이브러리 사용해서 구현가능
    IE8이하 지원하지 않음 물론 방법은 존재함

    es6로 작성된 문법을 es5로 변환해주는게 babel
    es6?es5?

    props
    <div>, <article>, <section>, <header>, <footer>, <form>
  -->



    <p>&nbsp;</p>
    <h3><strong>* 참고 사이트</strong></h3>
    <p style="text-indent: 15px;">
      1. <a href="https://www.youtube.com/watch?v=H24D0GveBYY&index=2&list=PL9FpF_z-xR_GMujql3S_XGV2SpdfDBkeC">
        https://www.youtube.com/watch?v=H24D0GveBYY&index=2&list=PL9FpF_z-xR_GMujql3S_XGV2SpdfDBkeC
      </a>
    </p>
    <p style="text-indent: 15px;">
      2. <a href="https://velopert.com/775">
        https://velopert.com/775
      </a>
    </p>
    <p style="text-indent: 15px;">
      3. <a href="https://blog.coderifleman.com/2015/06/23/learning-react-1/">
        https://blog.coderifleman.com/2015/06/23/learning-react-1/
      </a>
    </p>
    <p style="text-indent: 15px;">
      4. <a href="http://jdub7138.blog.me/221071408817">
        http://jdub7138.blog.me/221071408817
      </a>
    </p>
  </div>
</div>
