<section>
  <div class="container">
    <!--게시판 디자인 출처 http://tworab.tistory.com/79-->
    <table class="table table-hover">
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>날짜</th>
          <th>조회수</th>
        </tr>
      </thead>
      <tbody>
        <tr id = "{{board._id}}" ng-repeat = "board in boards">
          <th>{{board.num}}</th>
          <th><a href="#/board_mod/{{board._id}}">{{board.title}}</a></th>
          <th>{{board.author}}</th>
          <th>{{board.created | date:'yyyy-MM-dd'}}</th>
          <th>{{board.views}}</th>
        </tr>
      </tbody>
    </table>
    <hr></hr>

    <a class="btn btn-default pull-right" href="#/board_write">글쓰기</a>

    <div class="text-center">
      <ul class="pagination">
        <li ng-repeat="page in pageidx"><a href="">{{$index+1}}</a></li>
      </ul>
    </div>
  </div>
</section>
